.main-container {
	background: var(--background-2);
	display: flex;
	flex-direction: column;
	transition: all 0.4s ease-in-out;
}

.side-bar {
	background: var(--background-1);
	height: 100vh;
	padding: 32px;
	transition: all 0.4s ease-in-out;
}

.main-content {
	padding: 32px;
	padding-top: 60px;
	overflow-y: scroll;
}

@media only screen and (min-width: 992px) {
	.main-container {
		height: 100vh;
    flex-direction: row;
	}

	.side-bar {
		width: 400px;
		padding: 50px;
	}

	.main-content {
		flex-grow: 1;
		padding: 50px;
		padding-top: 50px;
		overflow-y: scroll;
	}

	.side-bar {
		width: 400px;
		padding: 50px;
	}
}
