
.input-container {
  background: #f4f4f4;
  display: flex;
  align-items: center;
  height: 48px;
  padding: 0 8px;
  border-radius: 12px;
}

.main-input{
  width: 100%;
  height: 100%;
  border-width: 0;
  background: none;
  outline: none;
}

.input-target{
  height: 25px;
  width: 25px;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.4s ease-in-out;

  &:hover{
    background: rgb(210, 210, 210);

  }
}